$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_blue: #38AEF0;
$light_gray: #999;
$black: #434a54;
$alert_orange: #F35500;

$WhiteColor: #ffffff;
$BtnColor: #38aef0;
$UsernameColor: #253141;
$GrouplistColor: #2f3e51;
$CurrentgroupColor: #333333;
$MemberColor: #999999;
$MessagesColor: #fafafa;
$MessageNameColor: #333333;
$MessageHistoryColor: #999999;
$MessageTextColor: #434A54;
$MessageformColor: #d2d2d2;